@font-face {
    font-family: 'baskervilleMT';
    src: url(../fonts/BaskervilleMT.otf);
}

@font-face {
    font-family: 'baskervilleMT-italic';
    src: url(../fonts/BaskervilleMT-italic.otf);
}

@font-face {
    font-family: 'tesla';
    src: url(../fonts/tesla.otf);
}
